################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/K5BZI_Logger/.localhistory/C/Users/ecke5744/Desktop/K5BZI_Logger/K5BZI_Logger
