################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/K5BZI_Logger/.localhistory
/K5BZI_Logger/K5BZI_Logger/bin/*
/K5BZI_Logger/K5BZI_Services/bin/*
/K5BZI_Logger/K5BZI_ViewModels/bin/*
/K5BZI_Logger/K5BZI_ServiceModels/bin/*
/K5BZI_Logger/K5BZI_Logger/obj/*
/K5BZI_Logger/K5BZI_Services/obj/*
/K5BZI_Logger/K5BZI_ViewModels/obj/*
/K5BZI_Logger/K5BZI_ServiceModels/obj/*
/K5BZI_Logger/.vs/K5BZI_Logger/*
/K5BZI_Logger/K5BZI_Models/bin/*
/K5BZI_Logger/K5BZI_Models/obj/*
/K5BZI_Logger/K5BZI_Services.Test/bin/*
/K5BZI_Logger/K5BZI_Services.Test/obj/*
