################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/K5BZI_Logger/.localhistory/C/Users/ecke5744/Desktop/K5BZI_Logger/K5BZI_Logger
/K5BZI_Logger/K5BZI_Logger/bin/*
/K5BZI_Logger/K5BZI_Services/bin/*
/K5BZI_Logger/K5BZI_ViewModels/bin/*
/K5BZI_Logger/K5BZI_Logger/obj/*
/K5BZI_Logger/K5BZI_Services/obj/*
/K5BZI_Logger/K5BZI_ViewModels/obj/*
/K5BZI_Logger/.vs/*
/K5BZI_Logger/K5BZI_Models/bin/Debug
/K5BZI_Logger/K5BZI_Models/obj/Debug
